.hidden {
    display: none;
}

#currentUser {
    font-weight: bold;
}

.img-thumbnail {
    float: left;
    max-width: 100%;
    max-height: 100%;
    width: 140px;
    height: auto;
}

/* GALLERY SECTION */
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}
/* END OF GALLERY SECTION */

/* VIDEOS SECTION */
.beginner > .col-sm-4 > iframe {
    border: 5px solid rgba(46, 167, 44, 0.4);
}

.intermediate > .col-sm-4 > iframe {
    border: 5px solid rgba(203, 204, 0, 0.4);
}

.advanced > .col-sm-4 > iframe {
    border: 5px solid rgba(203, 0, 0, 0.4);
}
/* END OF VIDEOS SECTION */