.hidden {
    display: none;
}

#currentUser {
    font-weight: bold;
}

.img-thumbnail {
    float: left;
    max-width: 100%;
    max-height: 100%;
    width: 140px;
    height: auto;
}

/* PROFILE SECTION */
#userLikes > .list-group-item {
    height: 200px;
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#userLikes > .list-group-item > a {
    color: black;
    line-height: 250%;
    font-size: 90%;
}

/* END OF PROFILE SECTION */

/* GALLERY SECTION */
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

/* END OF GALLERY SECTION */

/* TRAININGS SECTION */
.star {
    width: 22px;
    height: 22px;
    position: relative;
    top: -22px;
    float: right;
}

/* END OF TRAININGS SECTION */

/* VIDEOS SECTION */
#video-add {
    width: 400px;
}

#video-url {
    width: 300px;
}

.upload {
    margin-bottom: 10px;
}

#not-working { /*Quick center*/
    margin: 0 auto;
    text-align: center;
}

.beginner > .col-sm-4 > iframe {
    border: 5px solid rgba(46, 167, 44, 0.4);
}

.intermediate > .col-sm-4 > iframe {
    border: 5px solid rgba(203, 204, 0, 0.4);
}

.advanced > .col-sm-4 > iframe {
    border: 5px solid rgba(203, 0, 0, 0.4);
}

.difficultyHeader {
    clear: both;
}

h5 > strong {
    float: left;
    margin-left: 10%;
}

h5 > button {
    float: right;
    margin-right: 10%;
}

h5 {
    margin-bottom: 30px;
    font-size: 24px;
}

/* END OF VIDEOS SECTION */
