.hidden {
    display: none;
}

#currentUser {
    font-weight: bold;
}

#registerBtn, #logoutBtn {
    right: 15%;
}

.img-thumbnail {
    float: left;
    width: 140px;
    height: 186.7px;
}

/* GALLERY SECTION */
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}
/* END OF GALLERY SECTION */

/* VIDEOS SECTION */
.beginner > iframe {
    border: 5px solid rgba(46, 167, 44, 0.4);
}

.intermediate > iframe {
    border: 5px solid rgba(203, 204, 0, 0.4);
}

.advanced > iframe {
    border: 5px solid rgba(203, 0, 0, 0.4);
}

fieldset iframe {
width: 33%;
height: 400px;
}
/* END OF VIDEOS SECTION */
