<fieldset>
    <legend align="center">Change avatar</legend>
    <div class="col-sm-2 col-xs-4 float-left">
        <p>Your current avarat</p>
        <img src="{{photoURL}}" alt="{{displayName}}" class="img-thumbnail img-fluid">
    </div>
    <form class="form-horizontal">
        <div class="form-group col-sm-12">
            <label for="tb-currentPass" class="col-sm-3 control-label">Choose a new avatar</label>
            <div class="col-sm-6">
                <input type="file" class="form-control col-lg-8 col-sm-8" id="tb-currentPass" placeholder="Current password" />
            </div>
            <p class="info">Maximal file size: 1MB</p>
        </div>
    </form>
</fieldset>