<fieldset>
    <legend align="center">Change avatar</legend>
    <div class="row">
        <div class="col-sm-2 col-xs-4 float-left">
            <p>Your current avatar</p>
            <img src="{{photoURL}}" alt="{{displayName}}" class="img-thumbnail img-fluid">
        </div>
        <div class="col-sm-10 col-xs-8">
            <form class="form-horizontal">
                <div class="form-group col-sm-12">
                    <label for="fileInput" class="col-sm-3 control-label">Choose a new avatar</label>
                    <div class="col-sm-9">
                        <input type="file" class="form-control col-lg-8 col-sm-8" id="fileInput" accept=".jpg, .png" placeholder="Current password" />
                    </div>
                    <p class="text-info col-sm-8 col-sm-offset-3">Accepts files: .jpg, .png. Maximal file size: 1MB</p>
                </div>
                <a class="btn btn-sm btn-default clearfix col-sm-1 col-sm-offset-3" id="uploadBtn">Upload</a>
            </form>
        </div>
    </div>
</fieldset>