<fieldset>
    <legend align="center">Change passeword</legend>
    <img src="{{photoURL}}" alt="{{displayName}}" class="img-thumbnail">
    <form class="form-horizontal container">
        <div class="form-group" id="passwordFieldsGroup">            
            <label for="newPassword" class="col-sm-2 control-label">New password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control col-lg-8 col-sm-8" id="tb-newPassword" placeholder="New password" />
            </div>
            <label for="confirmPassword" class="col-sm-2 control-label">Confirm password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control col-lg-8 col-sm-8" id="tb-confirmPassword" placeholder="Confirm password" />
            </div>
        </div>
        <a class="btn" id="changeBtn">Change</a>
    </form>
</fieldset>