<fieldset>
    <legend align="center">Edit profile</legend>
    <img src="{{photoURL}}" alt="{{displayName}}" class="img-thumbnail">
    <form class="form-horizontal">
            <div class="form-group" id="profileDetailsGroup">
                <label for="usernameChangeInput" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-lg-8 col-sm-8" id="usernameChangeInput" value="{{displayName}}" />
                </div>
                <label for="emailChangeInput" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-lg-8 col-sm-8" id="emailChangeInput" value="{{email}}" />
                </div>
                <label for="passwordInput" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control col-lg-8 col-sm-8" id="passwordInput" />
                    <p class="text-info">Provide your password only if you want to change your e-mail!</p>
                </div>
            </div>
            <a class="btn" id="editBtn">Edit</a>
    </form>
</fieldset>