<fieldset>
    <legend>Login User</legend>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="tb-email">Email address:</label>
                <input type="text" class="form-control" id="tb-email"/>
            </div>
            <div class="form-group">
                <label for="tb-password">Password:</label>
                <input type="password" class="form-control" id="tb-password"/>
            </div>
            <button class="btn btn-default" id="btn-login">Login</button>
        </div>
    </div>
</fieldset>