<fieldset>
    <legend align="center">Trainings</legend>
    <h3>Here we must add some trainings :)</h3>
    <p>http://bootsnipp.com/snippets/featured/portfolio-gallery-with-filtering-category</p>
    <p>http://darebee.com/workouts.html</p>
</fieldset>
