<fieldset>
    <legend align="center">Trainings</legend>
    <!--Array of trainings-->
    {{#this}}
        <div class="col-sm-4">
            <h3 align="center">{{trainingName}}</h3>
            <div class="list-group">
                {{#exercises}}
                    <a class="list-group-item" data-toggle="modal" data-target="#myModal" data-imgsrc="{{imgSrc}}">
                        {{title}} : {{description}}
                    </a>
                {{/exercises}}
            </div>
        </div>
    {{/this}}
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" align="center">
                    <img src="" class="img-responsive" id="currentImage">
                </div>
            </div>
        </div>
    </div>
</fieldset>