<fieldset>
    <legend align="center">User Profile</legend>
    <img src="{{photoURL}}" alt="{{displayName}}" class="img-thumbnail">
    <form class="form-horizontal container">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{displayName}}</p>
                </div>
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{email}}</p>
                </div>
            </div>
            <div class="form-group hidden">
                <label for="currentPassword" class="col-sm-2 control-label">Current password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="currentPassword" placeholder="Current password" />
                </div>
                <label for="newPassword" class="col-sm-2 control-label">New password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="newPassword" placeholder="New password" />
                </div>
            </div>
        </div>
    </form>
</fieldset>