<fieldset>
    <legend align="center">Workout videos</legend>

    <div class="upload col-sm-12">
        <h5 id="not-working">Not working yet!</h5>
        <br/>
        <button id="video-add" class="btn btn-default btn-file"> Upload your Workout! </button>
        <input id="video-url" type="text" placeholder="Enter YouTube URL">
        <label class="radio-inline"><input type="radio" name="difficulty" id="beginnerDifficulty">Beginner</label>
        <label class="radio-inline"><input type="radio" name="difficulty" id="intermediateDifficulty">Intermediate</label>
        <label class="radio-inline"><input type="radio" name="difficulty" id="advancedDifficulty">Advanced</label>
    </div>
    <h5 class="difficultyHeader" align="center"><strong>Videos for beginner users</strong></h5>
    <br/>
    <div class="beginner" align="center">
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/dMtgGArX1qI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/GA-_aGqmXHc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/wjEXO5V3skQ" frameborder="0" allowfullscreen></iframe>
        </div>
        {{#this}}
            {{#each videos}}
            <div class="col-sm-4">
                <iframe src="{{urls}}" frameborder="0" allowfullscreen></iframe>
            </div>
            {{/each}}
        {{/this}}
    </div>
    <br/>
    <h5 class="difficultyHeader" align="center"><strong>Videos for intermediate users</strong></h5>
    <br/>
    <div class="intermediate" align="center">
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/BpEhdZzOSkY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/7GP74AkNyu4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/uxY0lt0S1_A" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <br/>
    <h5 class="difficultyHeader" align="center"><strong>Videos for advanced users</strong></h5>
    <br/>
    <div class="advanced" align="center">
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/tZaK0s182YI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/adiKDDF41hM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/9qF55sPd3bs" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</fieldset>
