<fieldset>
    <legend align="center">Workout videos</legend>
    <p align="center"><strong>Videos for beginner users</strong></p>
    <br />
    <div class="beginner">
        <iframe  src="https://www.youtube.com/embed/dMtgGArX1qI" frameborder="0" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/GA-_aGqmXHc" frameborder="0" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/wjEXO5V3skQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <br />
    <p align="center"><strong>Videos for intermediate users</strong></p>
    <br />
    <div class="intermediate">
        <iframe  src="https://www.youtube.com/embed/BpEhdZzOSkY" frameborder="0" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/7GP74AkNyu4" frameborder="0" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/uxY0lt0S1_A" frameborder="0" allowfullscreen></iframe>
    </div>
    <br />
    <p align="center"><strong>Videos for advanced users</strong></p>
    <br />
    <div class="advanced">
        <iframe  src="https://www.youtube.com/embed/tZaK0s182YI" frameborder="0" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/adiKDDF41hM" frameborder="0" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/9qF55sPd3bs" frameborder="0" allowfullscreen></iframe>
    </div>
</fieldset>
